@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization
@using ITSM.WEB.Client.Layout
@using MudBlazor

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(LoginLayout)">
                        <div class="d-flex flex-column align-center justify-center" style="height:100vh">
                            <MudText Typo="Typo.h4" GutterBottom="true">No autorizado</MudText>
                            <MudText>Debes iniciar sesión para ver esta página.</MudText>

                            <MudButton Href="/login" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
                                Ir al Login
                            </MudButton>

                        </div>
                    </LayoutView>
                </NotAuthorized>
                <Authorizing>
                    <div class="d-flex justify-center mt-4">
                        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lo sentimos, no hay nada en esta dirección.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>